<h1>Üdvözlöm!</h1>

<main>
  <main>
    <h3>
      Ez a project egy a Solyomsoft Kft megbízásából készült tesztproject.
    </h3>
    <p class="middle">
      "A feladat egy útvonal nyilvántartó webes alkalmazás készítése."
    </p>
  </main>
  <main>
    <p class="middle">
      A megalkotáskor, törekedtem az egyértelmű, felhasználóbarát megoldások
      használatára.
      <br />A rendszámok megadása esetén csak a betűket és számokat kell beírni,
      azok formázása autómatikus. <br /><br />
      A webes alkalmazás adatbázisként a Google Firebase, Firestore adatbázisát
      használja.
    </p>
  </main>

  <main>
    <p class="middle">
        Remélem teszik az alkalmazás, visszajelzését kérem a korábban megadott
    telefonszámon vagy emailen keresztül juttassa el hozzám.
    <br />
    <br />Minden visszajelzést szívesen fogadok.

    </p>
    
  </main>
  <p class="whiteText">
    <br/>
    Tisztelettel,
    <br/>Pataki Attila Béla
    </p>
</main>
