<p *ngIf="isLoading == 1">Loading</p>
<div id="summary" *ngIf="isLoading == 2">
    <table>
     <tr>
         <td>Összesítés</td>
         <td>rögzített Útvonalak száma<br/> {{loadedLength}}</td>
         <td>Összesen megtett út<br/>{{totalKm}} Km</td>
         <td>Fogyasztott üzemanyag<br/> {{totalFuel}} Liter</td>
     </tr>
    </table>
 </div>
<table id="listTable" *ngIf="isLoading == 2">
   
  <tr>
    <th *ngFor="let txt of columns">{{ txt }}</th>
  </tr>
  <tr *ngFor="let data of loadedRecords; index as i">
    <td *ngFor="let field of Datacolumns">{{ loadedRecords[i][field] }}</td>
  </tr>
</table>
